h2{
   background-color:white;
   }
p.a {
  font-style: italic;
  color:blue;
  font-size:20px;
}
p1{
    color:darkblue;  
    font-size:20px;
}
button{
       padding:5px 25px;
}
p2{
    color:blue;
    font-size:20px;
}
p3{
     color:darkblue;
     font-size:20px;
     font-style: italic;
}
p6{
     color:blue;
     font-size:20px;
     font-style: italic;
}
table{
      margin-left: auto;
      margin-right:auto;
}
p{
   font-size:25px;
}
p9{
        color:green;
        font-size:33px;
}
p10{
       color:red; 
       font-size:33px;
}