h2{
   background-color:white;
   }
p.a {
  font-style: italic;
  color:blue;
  font-size:20px;
}
p1{
    color:darkblue;  
    font-size:20px;
}
button{
       padding:5px 25px;
}
p2{
    color:darkblue;
    font-size:20px;
}
p3{
     color:blue;
     font-size:20px;
     font-style: italic;
}
